{
    "arrowParens": "avoid",
    "bracketSpacing": false,
    "endOfLine": "lf",
    "jsxBracketSameLine": false,
    "jsxSingleQuote": false,
    "printWidth": 100,
    "proseWrap": "preserve",
    "semi": true,
    "singleQuote": true,
     "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "es5"
}
